/* .product {
    height: 100px;
    width: 200px;
    background-color: lightgrey;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10%;
}

.product .productname {
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    border-radius: 10%;
}

.product .productcategory {
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
    border-radius: 10%;
}

.product .productexpiration {
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    border-radius: 10%;
} */